

body{
    background-image: url(https://static.wixstatic.com/media/f61af8_430a61513cfd4282a155f2011f6a78e6~mv2.jpg/v1/fill/w_1920,h_1080,al_c,q_85/f61af8_430a61513cfd4282a155f2011f6a78e6~mv2.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

h1, p{
    text-align: center;
    font-size: 50px;
    margin-top: 4cm;
    color: white;
    font-family: sans-serif;
}
